body {
  background: radial-gradient(
    circle at 90% 5%,
    rgb(255, 255, 255) 0%,
    rgb(172, 224, 217) 89.8%
  );
  font-family: "Source Sans Pro", sans-serif;
  color: rgb(20, 45, 76);
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid rgb(65, 55, 43);
  border-radius: 5px;
}

.location-button {
  text-align: center;
}
button {
  color: rgb(255, 255, 255);
  background-color: rgb(56, 81, 112);
  font-size: 12px;
  font-weight: 100;
  padding: 10px 20px;
  border: rgb(56, 81, 112);
  border-radius: 5px;
  max-height: 45px;
}
button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 45, 76);
  transition: all 200ms ease-in-out;
}
button:focus {
  outline: 1px;
  background-color: rgb(20, 45, 76);
  box-shadow: 0 0 0 0.2rem rgb(56 81 112 / 50%);
}

h1 {
  margin-top: 15px;
}
h3,
.weather-icon-temp,
.weather-forecast {
  text-align: center;
}

.weather-display {
  padding: 0;
}

ul {
  list-style: none;
  padding: 5px 0;
  line-height: 30px;
}
#weather-description {
  text-transform: capitalize;
}

.weather-details {
  font-size: 16px;
  padding: 5px auto;
}

.weather-forecast {
  padding: 25px 0;
}
.github {
  text-align: center;
}
